@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --greyish-yellow: #F0EEEB;
    --footer-text-colour: #9B9B9B;
}

body {
    font-family: 'Cabin', sans-serif;
}

.no-scroll {
    overflow-y: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column-centre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

li {
    list-style: none;
}

h1, h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #292929;
}

.body-text {
    color: #757575;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.cta {
    background-color: black;
    color: white;
    height: 3.2rem;
    width: 8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.explore-more-link {
    color: black;
    font-size: 1rem;
}

/* HEADER */
.top-bar {
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem 1.4rem;
    font-weight: 600;
}

.top-bar span {
    text-decoration: underline;
    display: inline-block;
}

.main-header {
    background-color: var(--greyish-yellow);
    width: 100%;
}

.main-header-wrapper {
    width: 100%;
    padding: 2rem 0;
    max-width: 90vw;
}

.logo {
    font-size: 1.2rem;
    font-weight: 400;
}

.logo-link {
    text-decoration: none;
    color: #292929;
}

nav {
    width: 90vw;
    background-color: white;
    border-radius: 5px;
    padding: 0 1.5rem;
    z-index: 2;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-out;
}

.mobile-menu-open {
    max-height: 350px;
    transition: max-height 0.35s ease-out;
}

.nav-links-group > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

nav li {
    margin: 1rem 0;
}

.nav-link {
    text-decoration: none;
    color: #292929;
    font-size: 1.1rem;
}

.menu-btn {
    background: url("./Assets/Hamburger\ Menu.svg") no-repeat center;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
}

input, button {
    font-family: 'Cabin', sans-serif;
}

.hidden {
    display: none;
}

/* HERO */
#hero {
    background-color: var(--greyish-yellow);
}

.hero-wrapper {
    padding: 0.5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 90vw;
}

.hero-img {
    max-width: 90vw;
}

.hero-img-tablet, .hero-img-desktop {
    display: none;
}

.hero-main-content {
    margin-top: 2rem;
}

.hero-main-content > .body-text {
    margin: 0.5rem 0;
}

.feature {
    margin: 0.5rem 0;
    color: #414141;
}

.check {
    margin-right: 1rem;
}

#sign-up-form {
    margin: 1rem 0;
}

#email {
    padding: 0 1rem;
    height: 3.2rem;
    font-size: 1rem;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    margin-right: 1rem;
}

#email::placeholder {
    color: #B4B4B4;
}

#additional-features {
    padding: 1rem;
}

/* COMPANY LOGOS */
#company-logos {
    max-width: 90vw;
    padding: 2rem 0 2.5rem 0;
}

.company-logo {
    max-width: 7rem;
    margin-right: 0.7rem;
    display: none;
}

#dribble-logo {
    max-width: 6rem;
}

.mobile-company {
    display: inline-block;
}

/* SECURE MONEY */
#secure-money {
    width: 90vw;
    background-color: var(--greyish-yellow);
    border-radius: 10px;
    padding: 2rem 2.5rem 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#secure-money .body-text {
    margin: 0.5rem 0 1rem 0;
}

.secure-money-img {
    max-width: 90vw;
    margin-top: -1.5rem;
}

.secure-money-img-tablet, .secure-money-img-desktop {
    display: none;
}

/* TEXT EDITOR */
#text-editor {
    width: 90vw;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#text-editor .body-text {
    margin: 0.5rem 0 1rem 0;
}

.text-editor-img {
    max-width: 90vw;
    margin-top: 2rem;
}

/* FOOTER */
footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    max-width: 90vw;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-logo {
    color: white;
}

.footer-logo-section > .footer-text {
    color: var(--footer-text-colour);
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

.footer-links-sections {
    width: 100%;
    margin-top: 1rem;
}

h3 {
    color: white;
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

.footer-links-section-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links-section {
    width: 7.5rem;
}

.footer-link {
    text-decoration: none;
    color: var(--footer-text-colour);
    font-size: 1.1rem;
    line-height: 2rem;
}

/* TABLET ADJUSTMENTS */
@media screen and (min-width: 700px) {
    h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    .body-text {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    
    .cta {
        height: 3.8rem;
        width: 9rem;
        font-size: 1.2rem;
    }

    .explore-more-link {
        font-size: 1.15rem;
        font-weight: 400;
    }

    .top-bar {
        font-size: 1.1rem;
    }
    
    .main-header-wrapper {
        padding: 3rem 0;
    }

    .logo {
        font-size: 1.4rem;
    }
    
    .menu-btn {
        display: none;
    }

    nav {
        width: min-content;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0);
        max-height: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links-group > ul {
        flex-direction: row;
        align-items: center;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    nav li, .end-nav {
        margin: 0 0.8rem;
    }

    .end-nav {
        margin-right: 0;
    }
    
    .hero-img-mobile {
        display: none;
    }

    .hero-img-tablet {
        display: block;
    }

    .feature {
        font-size: 1.1rem;
    }

    #email {
        height: 3.8rem;
        width: 15rem;
        font-size: 1.1rem;
    }

    .company-logo {
        max-width: 8rem;
        margin: 0.7rem;
    }

    #dribble-logo {
        max-width: 6.5rem;
    }

    .tablet-company {
        display: block;
    }

    #secure-money {
        padding: 5rem 5rem 0 5rem;
    }

    #secure-money h2 {
        max-width: 20rem;
    }

    .secure-money-img {
        margin-top: -2rem;
    }

    .secure-money-img-mobile {
        display: none;
    }

    .secure-money-img-tablet {
        display: block;
    }

    .footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-links-sections {
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }

    .footer-links-section-group {
        width: 100%;
        justify-content: center;
    }

    .footer-links-section {
        margin: 0 2rem;
    }

    .footer-logo-section {
        max-width: 50%;
    }

    .footer-text {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .footer-link {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
}

/* DESKTOP ADJUSTMENTS */
@media screen and (min-width: 1200px) {
    .main-header-wrapper {
        padding: 2rem 0;
    }

    nav {
        justify-content: space-between;
        width: 60%;
    }

    .hero-wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .hero-main-content {
        width: 55%;
    }

    .hero-img-tablet {
        display: none;
    }

    .hero-img-desktop {
        display: block;
        max-width: 27rem;
    }

    .company-logo {
        display: block;
    }

    #reddit-logo, #google-logo {
        max-width: 6rem;
    }

    #secure-money {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 2.5rem 0 2.5rem;
        position: relative;
        height: 25rem;
    }

    .secure-money-main {
        width: 45%;
        margin-top: 2rem;
        z-index: 2;
    }

    .secure-money-img-tablet {
        display: none;
    }

    .secure-money-img-desktop {
        display: block;
        position: absolute;
        bottom: 0;
    }

    #text-editor {
        flex-direction: row-reverse;
    }

    .text-editor-img {
        width: 50%;
    }

    .footer-logo-section {
        width: 30%;
    }

    .footer-links-sections {
        flex-wrap: nowrap;
        width: max-content;
    }

    .footer-links-section-group {
        justify-content: center;
    }

    .cta:hover {
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.5s ease-out;
    }

    .nav-link {
        position: relative;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .footer-link:hover {
        opacity: 0.5;
        transition: opacity 0.5s ease-out;
    }

    .explore-arrow {
        display: inline-block;
    }

    .explore-more-link:hover > .explore-arrow {
        transform: translateX(5px);
        transition: transform 0.3s ease-out;
    }
}

@media screen and (min-width: 1250px) {
    .main-header-wrapper, .hero-wrapper, #company-logos, #secure-money, 
    #text-editor, .footer-wrapper {
        max-width: 1200px;
    }
}
