@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --greyish-yellow: #F0EEEB;
    --footer-text-colour: #9B9B9B;
}

body {
    font-family: 'Cabin', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column-centre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

li {
    list-style: none;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #292929;
}

.body-text {
    color: #6b6b6b;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.explore-more-link {
    color: black;
    font-size: 1rem;
}

/* HEADER */
.top-bar {
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem 1.4rem;
    font-weight: 600;
}

.top-bar span {
    text-decoration: underline;
    display: inline-block;
}

.main-header-wrapper {
    background-color: var(--greyish-yellow);
    width: 100%;
}

.main-header {
    padding: 2rem 0;
    max-width: 90vw;
    width: 100%;
}

h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

nav {
    width: 90vw;
    background-color: white;
    border-radius: 5px;
    padding: 0 1.5rem;
    z-index: 2;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-out;
}

.mobile-menu-open {
    max-height: 350px;
    transition: max-height 0.35s ease-out;
}

.nav-links-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

nav li {
    margin: 1rem 0;
}

.nav-link {
    text-decoration: none;
    color: #292929;
    font-size: 1.1rem;
}

nav li:last-child {
    margin: 0;
}

nav .cta {
    margin-bottom: 1rem;
}

.menu-btn {
    background: url("./Assets/Hamburger\ Menu.svg") no-repeat center;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
}

.cta {
    background-color: black;
    color: white;
    height: 3.2rem;
    width: 8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

input, button {
    font-family: 'Cabin', sans-serif;
}

.hidden {
    display: none;
}

/* HERO */
#hero {
    background-color: var(--greyish-yellow);
    padding: 0.5rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero-img {
    max-width: 90vw;
}

.hero-main-content {
    margin-top: 2rem;
}

.hero-main-content > .body-text {
    margin: 0.5rem 0;
}

.feature {
    margin: 0.5rem 0;
    color: #414141;
}

.check {
    margin-right: 1rem;
}

#sign-up-form {
    margin: 1rem 0;
}

#email {
    padding: 0 1rem;
    height: 3.2rem;
    font-size: 1rem;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    margin-right: 1rem;
}

#email::placeholder {
    color: #B4B4B4;
}

#additional-features {
    padding: 1rem;
}

/* COMPANY LOGOS */
#company-logos {
    max-width: 90vw;
    padding: 2rem 0 2.5rem 0;
}

.company-logo {
    max-width: 7rem;
    margin-right: 0.7rem;
    display: none;
}

#pinterest-logo {
    max-width: 6rem;
}

.mobile-company {
    display: inline-block;
}

/* SECURE MONEY */
#secure-money {
    width: 90vw;
    background-color: var(--greyish-yellow);
    border-radius: 10px;
    padding: 2rem 2.5rem 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#secure-money .body-text {
    margin: 0.5rem 0 1rem 0;
}

.secure-money-img {
    max-width: 90vw;
    margin-top: -1.5rem;
}

/* TEXT EDITOR */
#text-editor {
    width: 90vw;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#text-editor .body-text {
    margin: 0.5rem 0 1rem 0;
}

.text-editor-img {
    max-width: 90vw;
    margin-top: 2rem;
}

/* FOOTER */
footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    max-width: 90vw;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-logo {
    color: white;
    font-size: 1.2rem;
}

.footer-logo-section > .footer-text {
    color: var(--footer-text-colour);
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

.footer-links-sections {
    width: 100%;
    margin-top: 1rem;
}

h3 {
    color: white;
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

.footer-links-section-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links-section {
    width: 7.5rem;
}

.footer-link {
    text-decoration: none;
    color: var(--footer-text-colour);
    font-size: 1.1rem;
    line-height: 2rem;
}
